:root {
    --colorPrincipal: #F76666;
    --colorSecundario: #02052F; 
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteBotones: "DinBold", sans-serif;
}


html {
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    background-color: red;
}

/* @media (min-width:900px) {

    body{
        background-color:yellow;
    }
    
} */



/* esto me permite conseguir 10 px = 1rem; sin eso 16px=1rem*/




/* .seccionPrueba h5{
    color:white;
    background-color: blue;
}

.seccionPrueba p{
    color:white;
    background-color: red;
}

.seccionPrueba h3{
    color:white;
    background-color: greenyellow;

}
/* selector de clase */
/* .claseh3 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}


/* selector de id  */
/* #idh3 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */


/* selector de elemento */
h6 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;

}

/* 
selector de cadena descendiente */

/* .ejerciciosSelectores p {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */

/* selector de atributo */
[src="img/Curso-marketing-digital-centro.png"] {
    background-color: yellow;
}

/* selector multiple */
#idh3,
[src="img/Curso-marketing-digital-centro.png"] {
    background-color: blueviolet;
}

/* selector de todos los hijos  */
.ejerciciosSelectores>a {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

/* ESTILOS GENERICOS */

/* estilos de contenedor para ordenador */



@media (min-width:1140px){
    .contenedor{
        max-width: 88%;
         margin: 0 auto;
    }
}

/* estilos de contenedor para tablets */

@media (max-width: 1140px) and (min-width:768px){
    .contenedor{
        max-width: 80%;
         margin: 0 auto;
    }
}


/* estilos de contenedor para movil */
@media (max-width: 768px){
    .contenedor{
        max-width: 90%;
         margin: 0 auto;
    }
}

/* .ejerciciocolor {
    color: var(--colorPrincipal);
} */

/* ESTILOS PARA EL MAIN  */

.fondoMain {
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}

.margenDerecho {
    margin-right: 40%;
}


h1 {
    background-color: var(--colorPrincipal);
    font-weight: 800;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    padding: 35px;
    margin-bottom: 10px;
    color: white;
    opacity: 70%;
}

.fondoMain a {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 24px 94px;
    font-size: 1.4rem;
    font-family: var(--fuenteBotones);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

}

.fondoMain a:hover{
    background-color: white;
    border-color: var(--colorPrincipal);
    color:var(--colorPrincipal);

}

.flexMain {
    display: flex;
    /*por defecto es row */
    justify-content: space-between;
}

.contenedorLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin-top: -120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
}

/* ESTILOS PARA LA IMAGEN DE CORPORACIONES */

/* ESTILOS SECCION CURSOS */

.seccionCursos h3 {
    color: var(--colorPrincipal);
    font-weight: 800;
    text-align: center;
    font-family: var(--fuentePrincipal);

}

.seccionCursos>h2 {
    color:var(--colorSecundario);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin:40px 0px;

}

.botonesCursos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;
}

.botonVerTodo{
    background-color: var(--colorPrincipal);
    color:white;
    font-family: var(--fuentePrincipal);
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.botonMadrid{
    background-color:white;
    color:black;
    font-family: var(--fuentePrincipal);
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 600;
    border-color: var(--colorPrincipal);
    font-size: 1.4rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
    border: 1px solid var(--colorPrincipal)
}

.seccionCursos{
    display:block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

.cursos{
    margin-bottom: 120px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.cursos>div{
    flex:50%;
    max-width: 50%;
    flex: 2;
    padding:40px 60px;

}

.marketing{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    background-image: url(../img/Curso-marketing-digital-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 5px;
    margin-right: 5px;

}

.videojuegos{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left:5px;
    margin-right:5px;
}

.cursos div h2{
    font-size: 27px;
    margin-bottom: 22px;
    color:white;
    font-weight: 700;
}

.cursos div a{
    
    background-color: white;
    color:var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    padding: 20px 44px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
    border: 1px solid var(--colorPrincipal);
}


/* ESTILOS SECCION PIDENOSLO */

.seccionPidenoslo{
    margin-bottom: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.seccionPidenoslo h3{
   text-align: center;
   text-transform: uppercase;
   color:var(--colorSecundario);
   font-weight: 800;
   margin-bottom: 40px 0;
   font-size: 17px;
}

.seccionPidenoslo div{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.seccionPidenoslo a{
    color: white;
    background-color: var(--colorPrincipal);
    padding: 15px 34px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 96px;
    font-size: 16px;

}

.seccionPidenoslo a:hover{

    background-color: var(--colorSecundario);
    text-decoration: underline;

}


/* ESTILOS SECCION VIDEO  */

.seccionVideo{
    display:flex;
    justify-content: center;

}

/* ESTILOS SECCION PARA QUIEN SON ESTOS CURSOS  */

.paraQuien {
    display:flex;
    flex-direction: row;
    margin-bottom: 100px;
}


.paraQuien h3{
    text-align: left;
    color:var(--colorPrincipal);
    font-weight: 800;
    font-family: var(--fuentePrincipal);
}

.paraQuien h2{
    font-family: var(--fuentePrincipal);
    color:var(--colorSecundario);
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom:22px;
}

.paraQuienIzquierda h4{
    font-family: var(--fuentePrincipal);
    color:var(--colorSecundario);
    font-weight: 800;

}

.paraQuien>div{
    flex:1;
    max-width:50%;
}

.paraQuienIzquierda{
    margin-right: 15px;
}

.paraQuien p{
    font-family: var(--fuentePrincipal);
    font-size:1.4rem;
    font-weight: 400;
    margin-bottom:25px;
    line-height: 1.8;
}

.paraQuien span{
    font-weight: 800;
}

.paraQuienIzquierda a{
    color:var(--colorPrincipal);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;

}

.paraQuienIzquierda h5{
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size:1.4rem;
    line-height:1.5;
    color:var(--colorSecundario);}

.paraQuienIzquierda .botonInfografia{
    background: #F76666;
    padding: 20px 40px;
    border-color: #fff;
    color:white;
    font-family: "DinBold", sans-serif;
    min-height: 50px;
    font-weight: 700;
    font-size: 14px;
    padding: 24px 94px;
    text-decoration: none;
    display: inline-block;
}

.paraQuienDerecha {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    padding-top:30px;
}

.paraQuienDerSup{
    background-color: var(--colorPrincipal);
    padding:60px 30px;
}

.paraQuienDerSup h5{
    font-family: var(--fuentePrincipal);
    color:white;
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom:0;
    margin-top: 0;
}

.paraQuienDerSup span{
    color:black;
}
.paraQuienDerSup .destacarAzul{
    color:var(--colorSecundario);
}

.paraQuienDerechaInf {
   
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.paraQuienDerechaInf h5{
    flex:1;
    max-width: 50%;
    font-family: var(--fuentePrincipal);
    padding: 40px 50px;
    background-color:black;
    color:white;
    margin-right:20px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
}

.paraQuienDerechaInf span{
    color: var(--colorPrincipal);
}

.paraQuienDerechaInf img{
    margin-top:10px;
    height: 40px;
    width: 40px;
}

/* ESTILOS LOCALIZACIONES  */

.localizaciones {
    background-color: black;
    color: white;
}

.localizaciones .contenedor{
padding: 90px 0 100px;
display: flex;
}

.localizaciones .contenedor div{
    width: 25%;

}

.seccionContactar{ 
    background-color: var(--colorPrincipal);
    text-transform: uppercase;
    padding: 90px 0px 70px;
}

.seccionContactar>div{

}

.cajaContacto{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.cajaContacto p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    font-weight: 800;
}

.cajaContacto img{
    margin-right: 15px;
    margin-top:10px;
    height: 40px;
    width: 40px;
}

.cajaLlamanos{
    margin-right:10px;
    flex:1;
    max-width:50%;
    background-color: white;
    padding-left: 100px !important;
    padding-top: 40px!important;
    padding-bottom: 40px!important;
    padding-right: 40px!important;
    border-radius: 10px;

}

.cajaEscribenos{
    margin-left:10px;
    flex:1;
    max-width: 50%;
    background-color: white;
    padding-left: 100px !important;
    padding-top: 40px!important;
    padding-bottom: 40px!important;
    padding-right: 40px!important;
    border-radius: 10px;
}





/* ESTILOS CONTACTAR */

/* ESTILOS FOOTER */

.enlacesFooter{

    display:flex;
    padding-top: 50px;
    padding-bottom: 40px
}

.paginasLegales{
    padding-top: 50px;
    padding-bottom: 40px;
    display:flex;
    justify-content: space-around;
}

.cursosZonaCentro{
width:30%;
}




.enlacesLogin{
    display:flex;
    justify-content:flex-end;
    height:70px;
}


.parteBajaHeader{
    display:flex;
    justify-content:space-between;
}

.enlacesLogin a {
font-family: var(--fuentePrincipal);
color:var(--colorPrincipal);
margin-right:1px;
text-decoration: none;
background-color: transparent;
}





/* ESTILOS HEADER */
/* DIVS ejemplos */


/* .fondoAmarillo{
    height: 300px;
    background-color: yellow;
}

.fondoAzul{
    height:100px;
    background-color: blue;
    margin:0;
} */