:root {
    --colorPrincipal: #F76666;
    --colorSecundario: #02052F;
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteBotones: "DinBold", sans-serif;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}

/* esto me permite conseguir 10 px = 1rem; sin eso 16px=1rem*/




/* .seccionPrueba h5{
    color:white;
    background-color: blue;
}

.seccionPrueba p{
    color:white;
    background-color: red;
}

.seccionPrueba h3{
    color:white;
    background-color: greenyellow;

}
/* selector de clase */
/* .claseh3 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}


/* selector de id  */
/* #idh3 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */ 


/* selector de elemento */
h6 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;

}

/* 
selector de cadena descendiente */

/* .ejerciciosSelectores p {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */

/* selector de atributo */
[src="img/Curso-marketing-digital-centro.png"] {
    background-color: yellow;
}

/* selector multiple */
#idh3,
[src="img/Curso-marketing-digital-centro.png"] {
    background-color: blueviolet;
}

/* selector de todos los hijos  */
.ejerciciosSelectores>a {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

/* ESTILOS GENERICOS */

.contenedor{
    max-width: 88%;
    margin: 0 auto; /*margen de arriba 0 y derecha automatico */
}

/* .ejerciciocolor {
    color: var(--colorPrincipal);
} */

/* ESTILOS PARA EL MAIN  */

.fondoMain{
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}

.margenDerecho{
    margin-right:30%;
}


h1{
    background-color: var(--colorPrincipal);
    font-weight:800;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    padding:35px;
    margin-bottom: 10px;
    color:white;
    opacity:70%;
}

.fondoMain a{
    background-color: black;
    color:white;
    border: 2px solid black;
    padding: 24px 94px;
    font-size: 1.4rem;
    font-family: var(--fuenteBotones);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

}

.flexMain{
    display: flex; /*por defecto es row */
    justify-content:space-between;
}

.contenedorLogos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin-top: -120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
}

.cursos h3{
    color:var(--colorPrincipal);
    font-weight: 800;
    text-align: center;
    font-family:var(--fuentePrincipal);

}

.cursos > h2{
    color:black;
    font-size: 3rem;
    text-transform: uppercase;
}

.cursos{
    text-align: center;
    
}

.marketing{
    display:flex;

}




  





/* ESTILOS PARA LA IMAGEN DE CORPORACIONES */

/* ESTILOS SECCION CURSOS */

/* ESTILOS SECCION PIDENOSLO */

/* ESTILOS SECCION VIDEO  */

/* ESTILOS SECCION PARA QUIEN SON ESTOS CURSOS  */


/* ESTILOS LOCALIZACIONES  */

.localizaciones{
    background-color: black;
    color:white;
}

/* ESTILOS CONTACTAR */

/* ESTILOS FOOTER */

/* ESTILOS HEADER */

/* DIVS ejemplos */


/* .fondoAmarillo{
    height: 300px;
    background-color: yellow;
}

.fondoAzul{
    height:100px;
    background-color: blue;
    margin:0;
} */


