:root {
    --colorPrincipal: #F76666;
    --colorSecundario: #02052F;
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteBotones: "DinBold", sans-serif;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    /* background-image: linear-gradient(to right,red 50%, blue 90%); */

}

/* @media (min-width:900px) {

    body{
        background-color:yellow;
    }
    
} */



/* esto me permite conseguir 10 px = 1rem; sin eso 16px=1rem*/




/* .seccionPrueba h5{
    color:white;
    background-color: blue;
}

.seccionPrueba p{
    color:white;
    background-color: red;
}

.seccionPrueba h3{
    color:white;
    background-color: greenyellow;

}
/* selector de clase */
/* .claseh3 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}


/* selector de id  */
/* #idh3 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */


/* selector de elemento */
h6 {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;

}

/* 
selector de cadena descendiente */

/* .ejerciciosSelectores p {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */

/* selector de atributo */
[src="img/Curso-marketing-digital-centro.png"] {
    background-color: yellow;
}

/* selector multiple */
#idh3,
[src="img/Curso-marketing-digital-centro.png"] {
    background-color: blueviolet;
}

/* selector de todos los hijos  */
.ejerciciosSelectores>a {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

/* ESTILOS GENERICOS */

/* estilos de contenedor para ordenador */



@media (min-width:1140px) {
    .contenedor {
        max-width: 88%;
        margin: 0 auto;
    }
}

/* estilos de contenedor para tablets */

@media (max-width: 1140px) and (min-width:768px) {
    .contenedor {
        max-width: 80%;
        margin: 0 auto;
    }
}


/* estilos de contenedor para movil */
@media (max-width: 768px) {
    .contenedor {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* .ejerciciocolor {
    color: var(--colorPrincipal);
} */

/* ESTILOS PARA EL MAIN  */

.fondoMain {
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}

@media (max-width:768px) {
    .fondoMain a{
        padding: 24px 70px;
    }
}

@media (max-width:768px) {
    .fondoMain a {
        padding: 24px 70px;
    }
}

.margenDerecho {
    margin-right: 33%;
}

@media (max-width: 1140px) {
    .margenDerecho {
        margin-right: 0;
    }
}


h1 {
    background-color: rgba(248, 102, 102, 0.65);
    font-weight: 800;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    padding: 35px;
    margin-bottom: 10px;
    color: white;
}

.fondoMain a {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 24px 94px;
    font-size: 1.4rem;
    font-family: var(--fuenteBotones);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

}

.fondoMain a:hover {
    background-color: white;
    border-color: var(--colorPrincipal);
    color: var(--colorPrincipal);

}

.flexMain {
    display: flex;
    /*por defecto es row */
    justify-content: space-between;
}

.flexMain img {
    margin-right: 10px;
}

.contenedorLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin-top: -120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
}


@media (max-width:1140px) and (min-width:768px) {
    .contenedorLogos {
        padding: 20px 40px;
    }

    [src="img/Logos-oficiales.png"] {
        width: 70%;
    }

    [src="img\Logo-Adecco.png"] {

        width: 30%;

    }

}

@media (max-width:768px) {
    .contenedorLogos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedorLogos img {
        max-width: 100%;
        padding: 20px;
    }

}


/* ESTILOS PARA LA IMAGEN DE CORPORACIONES */

/* ESTILOS SECCION CURSOS */

.seccionCursos h3 {
    color: var(--colorPrincipal);
    font-weight: 800;
    text-align: center;
    font-family: var(--fuentePrincipal);

}

.seccionCursos>h2 {
    color: var(--colorSecundario);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0px;

}

.botonesCursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;
}

.botonVerTodo {
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.botonMadrid {
    background-color: white;
    color: black;
    font-family: var(--fuentePrincipal);
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 600;
    border-color: var(--colorPrincipal);
    font-size: 1.4rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal)
}

.seccionCursos {
    display: block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

.cursos {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:768px) {
    .cursosOfertados{
        flex-direction: column;
    }
    
}

.cursos>div {
    flex: 50%;
    max-width: 50%;
    flex: 2;
    padding: 40px 60px;

}

/* para tablets: */

@media (max-width:1140px) {
    .cursos>div {
        padding: 20px 30px;
    }
}

/* para movil */

@media (max-width:768px) {
    .cursos {
        padding: 20px 30px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
        margin-top: 15px;
        max-width: 100%;


    }

}

@media (max-width:768px) {
    .cursos {
        padding: 20px 30px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
        margin-top: 15px;
        max-width: 100%;

    }

}


.marketing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    background-image: url(../img/Curso-marketing-digital-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 5px;
    margin-right: 5px;

}

.videojuegos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 5px;
    margin-right: 5px;
}

.cursos div h2 {
    font-size: 27px;
    margin-bottom: 22px;
    color: white;
    font-weight: 700;
}

.cursos div a {

    background-color: white;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    padding: 20px 44px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}


/* ESTILOS SECCION PIDENOSLO */

.seccionPidenoslo {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionPidenoslo h3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--colorSecundario);
    font-weight: 800;
    margin-bottom: 40px 0;
    font-size: 17px;
}

.seccionPidenoslo div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seccionPidenoslo a {
    color: white;
    background-color: var(--colorPrincipal);
    padding: 15px 34px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 96px;
    font-size: 16px;

}

.seccionPidenoslo a:hover {

    background-color: var(--colorSecundario);
    text-decoration: underline;

}


/* ESTILOS SECCION VIDEO  */

.seccionVideo {
    display: flex;
    justify-content: center;
}

/* para tablets  */
@media (max-width:1140px) {
    .video iframe {
        width: 100%;
        height: 500px;
    }
}

/* para movil */
@media (max-width:768px) {
    .video iframe {
        width: 100%;
        height: 200px;
    }
}

/* ESTILOS SECCION PARA QUIEN SON ESTOS CURSOS  */

.paraQuien {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

@media (min-width:1140px) {
    .paraQuien {
        flex-direction: column;

    }
}




.paraQuien h3 {
    text-align: left;
    color: var(--colorPrincipal);
    font-weight: 800;
    font-family: var(--fuentePrincipal);
}

.paraQuien h2 {
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 22px;
}

.paraQuienIzquierda h4 {
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-weight: 800;

}

.paraQuien>div {
    flex: 1;
    max-width: 50%;
}

@media (max-width:1140px) {
    .paraQuien>div {
        flex: 1;
        max-width: 100%;
    }
}

.paraQuienIzquierda {
    margin-right: 15px;
}

.paraQuien p {
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.8;
}

.paraQuien span {
    font-weight: 800;
}

.paraQuienIzquierda a {
    color: var(--colorPrincipal);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;

}

.paraQuienIzquierda h5 {
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--colorSecundario);
}

.paraQuienIzquierda .botonInfografia {
    background-color: var(--colorPrincipal);
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
    text-transform: uppercase;
}


.paraQuienIzquierda .botonInfografia:hover {
    background-color: white;
    color:var(--colorPrincipal);
    border: 2px solid var(--colorPrincipal);
}



.paraQuienDerecha {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.paraQuienDerSup {
    background-color: var(--colorPrincipal);
    padding: 60px 30px;
}

.paraQuienDerSup h5 {
    font-family: var(--fuentePrincipal);
    color: white;
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

.paraQuienDerSup span {
    color: black;
}

.paraQuienDerSup .destacarAzul {
    color: var(--colorSecundario);
}

.paraQuienDerechaInf {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    margin-right: 40px;
}

.paraQuienDerechaInf h5 {
    flex: 1;
    max-width: 50%;
    font-family: var(--fuentePrincipal);
    padding: 40px 50px;
    background-color: black;
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
}

.paraQuienDerechaInf span {
    color: var(--colorPrincipal);
}

.paraQuienDerechaInf img {
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

/* ESTILOS LOCALIZACIONES  */

/* localizaciones con grid */

.localizacionesGrid {
    background-color: black;
    color: white;
    padding: 100px 0;
}

.localizacionesGrid .contenedor {
    display: grid;
    grid: 1fr / repeat(4,1fr);

}


.localizacionesGrid .contenedor div {
    padding:24px 10px;
    color:white;
    margin:0;
}

@media (max-width:1140px) {
    .localizacionesGrid .contenedor div {
        width: 50%;
    }
}

@media (max-width:768px) {
    .localizacionesGrid .contenedor{
        flex-wrap: wrap;
    }
    .localizacionesGrid .contenedor div {
        width: 100%;
    }
}

.cajas-localizaciones h2 {
    color: white;
    font-size: 27px;
    font-weight: 700px;
    font-family: var(--fuenteBotones);
    margin-bottom: 40px;
    text-transform: uppercase;
}


.seccionContactar {
    background-color: var(--colorPrincipal);
    text-transform: uppercase;
    padding: 90px 0px 70px;
}

.seccionContactar h3{
    font-size: 17px;
    font-family: var(--fuentePrincipal);
    color:#f8f9fa;
    font-weight:1;
}

.seccionContactar h2{
    font-size: 27px;
    color:white;
    font-weight: 800;
}

.cajaContacto {
    display: flex;
}


.cajaContacto p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: left;
    font-weight: 800;
}

.cajaContacto img {
    margin-right: 15px;
}

.cajaLlamanos {
    display: flex;
    background-color: white;
    margin-right: 15px;
    border-radius: 0.55rem;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 20px;


}

.cajaEscribenos {
    display: flex;
    background-color: white;
    margin-right: 15px;
    border-radius: 0.55rem;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 20px;
}





/* ESTILOS CONTACTAR */

/* ESTILOS FOOTER */

.seccionFooter{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}


.enlacesFooter {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}


.enlacesFooter a {
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-size: 1.7rem;
    font-weight: 800;
    margin-right: 80px;
    line-height: 1.2;
    text-transform: uppercase;
}

.paginasLegales {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}


.paginasLegales a{
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-size: 1.7rem;
    margin-right: 80px;
    line-height: 1.2;
}




.enlacesLogin {
    margin-top:20px;
    display: flex;
    justify-content: flex-end;
    height: 70px;
}

.enlacesLogin a {
    color: var(--colorPrincipal);
    text-decoration: none;
    font-size: 17px;
    margin-left: 3px;
    margin-right: 3px;
}

.enlacesLogin a:hover {
    text-decoration: underline;
}

.enlacesLogin p {
    color: var(--colorPrincipal);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.seccionNav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.infoHeader a {
    margin-left: 10px;
    margin-right: 10px;
    color: #02052F;
    font-family: var(--fuentePrincipal);
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.infoHeader a:hover {
    text-decoration: underline;
}

[alt="informate"] {
    font-family: var(--fuentePrincipal);
    font-size: 14px;
    background-color: var(--colorPrincipal);
    font-weight: 700;
    color: #fff !important;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 6px 12px;
}


.enlacesLogin a {
    font-family: var(--fuentePrincipal);
    color: var(--colorPrincipal);
    margin-right: 2px;
    margin-top: 10px;
    text-decoration: none;
    background-color: transparent;
    margin-left: 2px;
}

.enlacesLogin a:hover {
    text-decoration: underline;
}
