body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

#servicios ul {
    list-style-type: square;
}

#contacto {
    border: 1px solid #ccc;
}

/* Puedes agregar más estilos según tus preferencias */
