:root{
    --colorPrincipal: #3383A3;
    --fuentePrincipal: 'Roboto Slab', serif;
    --colorSecundario: #AECBD2;
    --fuenteSecundaria: arial;
    --colorTerciario: orange;
}

html {
  font-size: 62.5%;
}
 
/* .margenes{
  width: 50%;
  margin: 0 auto;
} */

/* Reset de estilos */
p {
    font-family: var(--fuentePrincipal);
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    line-height:1.5;
    text-align: center;
}

h1,h2 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: rgb(106,240,10);
    background: linear-gradient(333deg, rgba(106,240,10,0.4992121848739496) 35%, rgba(0,82,255,0.5048144257703081) 100%);
}

/* INICIO DEL HEADER */
header {
  color: #fff;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(24, 124, 201, 1);
  background: -moz-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 124, 201, 1)), color-stop(100%, rgba(20, 97, 169, 1)));
  background: -webkit-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: -o-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: -ms-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: linear-gradient(to right, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
}

/* Estilos para el logotipo */
.logo img {
  max-width: 100px; /* Tamaño máximo del logotipo */
  padding-left: 20px;
}

/* Estilos para la sección de la derecha */
.seccion-derecha {
  display: flex; /* Mostrar elementos en una fila */
  gap: 20px; /* Espaciado entre elementos */
}

/* Estilos para las opciones de idioma y usuario */
nav ul {
  list-style: none;
  display: flex;
}

.opciones li a {
  color: #C0C0C0; /* Color de texto */
  text-decoration: none; /* Sin subrayado en enlaces */
  padding: 10px;
  font-size: 20px;
}

.opciones li a:hover{
  background-color: rgba(33, 93, 152, 1);
  color: white;
}

/* Estilos para la barra de búsqueda */
.barra input {
  padding: 5px;
  margin-top: 10px;
  margin-right: 20px; /* Espaciado interior */
  border: 1px solid #ccc; /* Borde con color de fondo */
}

.barra button {
  background-color: #1FD94A; /* Color de fondo del botón de búsqueda */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde en el botón */
  padding: 5px 10px;
  margin-right: 20px;
  margin-top: 10px; /* Espaciado interior del botón */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
}

.dropdown {
  position: relative;
}

.dropdown .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(24, 124, 201, .9);
  padding: 10px;
}

.dropdown .submenu li{
  margin: 10px 0;
  line-height: 1.5;
}

.dropdown .submenu a{
  display: inline;
  margin-left: 10px;
}

.dropdown:hover .submenu {
  display: block;
}

/* Estilo para el contenedor principal de la galería */
.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}
  
/* Estilo para el área de visualización de video */
.galeria-videos {
  position: relative;
  width: 1120px;
  height: 630px;
  overflow: hidden;
}
  
/* Estilo para los iframes de video (ajusta el tamaño según tus necesidades) */
.video-gallery iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
/* Estilo para los botones de navegación */
.navegacion {
  margin-top: 10px;
}

.anterior, .siguiente {
  padding: 5px 10px;
  background-color: #007bff; /* Cambia el color de fondo según tus preferencias */
  color: #fff;
  border: none;
  cursor: pointer;
}

.anterior:hover,.siguiente:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor por encima */
}

/* Alineación de los botones de navegación */
.anterior {
  margin-right: 10px;
}

/* Sección entrenamiento y preparación */
.consejos li,.preparacion li{
  list-style-type: upper-roman;  /* Para aplicar números romanos a una lista */
  font-size: 1.5rem;  
}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  body {
      font-size: 16px; /* Ajusta el tamaño de fuente para dispositivos móviles */
  }

  .logo img {
      max-width: 80px; /* Cambia el tamaño máximo del logotipo para dispositivos móviles */
  }

  .seccion-derecha {
      flex-direction: column; /* Cambia la dirección de flexbox para apilar elementos en dispositivos móviles */
  }

  .opciones li a {
      font-size: 18px; /* Ajusta el tamaño de fuente para dispositivos móviles */
      padding: 8px; /* Ajusta el espaciado de los elementos de navegación en dispositivos móviles */
  }

  .barra input {
      padding: 5px; /* Ajusta el espaciado interior del campo de búsqueda en dispositivos móviles */
  }

  .barra button {
      margin-right: 0; /* Elimina el margen derecho del botón de búsqueda en dispositivos móviles */
  }
}

@media screen and (max-width: 1024px) {
  /* Estilos para tabletas */
  body {
      font-size: 18px; /* Ajusta el tamaño de fuente para tabletas */
  }

  .logo img {
      max-width: 100px; /* Ajusta el tamaño máximo del logotipo para tabletas */
  }

  .opciones li a {
      font-size: 20px; /* Ajusta el tamaño de fuente para tabletas */
  }

  .barra input {
      padding: 8px; /* Ajusta el espaciado interior del campo de búsqueda para tabletas */
  }
}