:root {
  --colorPrincipal: #3383A3;
  --fuentePrincipal: 'Roboto Slab', serif;
  --colorSecundario: #AECBD2;
  --fuenteSecundaria: arial;
  --colorTerciario: orange;
  --fuenteFondoMain: 'Kanit', sans-serif;
}

html {
  font-size: 62.5%;
}

.margenes {
  width: 50%;
  margin: 0 auto;
}

/* Reset de estilos */
p {
  font-family: var(--fuentePrincipal);
  font-size: 25px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-size: 30px;
  font-weight: 800;
}


/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: rgb(106, 240, 10);
  background: linear-gradient(333deg, rgba(106, 240, 10, 0.4992121848739496) 35%, rgba(0, 82, 255, 0.5048144257703081) 100%);
}

/* INICIO DEL HEADER */
header {
  color: #fff;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(24, 124, 201, 1);
  background: -moz-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 124, 201, 1)), color-stop(100%, rgba(20, 97, 169, 1)));
  background: -webkit-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: -o-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: -ms-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: linear-gradient(to right, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
}

/* Estilos para el logotipo */
.logo img {
  max-width: 100px;
  /* Tamaño máximo del logotipo */
  padding-left: 20px;
}

/* Estilos para la sección de la derecha */
.seccion-derecha {
  display: flex;
  /* Mostrar elementos en una fila */
  gap: 20px;
  /* Espaciado entre elementos */
}

/* Estilos para las opciones de idioma y usuario */
.opciones a {
  color: #C0C0C0;
  /* Color de texto */
  text-decoration: none;
  /* Sin subrayado en enlaces */
  padding: 10px;
  font-size: 20px;
}

.opciones a:hover {
  background-color: rgba(33, 93, 152, 1);
  color: white;
}

/* Estilos para la barra de búsqueda */
.barra input {
  padding: 5px;
  margin-right: 20px;
  /* Espaciado interior */
  border: 1px solid #ccc;
  /* Borde con color de fondo */
}

.barra button {
  background-color: #1FD94A;
  /* Color de fondo del botón de búsqueda */
  color: #fff;
  /* Color de texto del botón */
  border: none;
  /* Sin borde en el botón */
  padding: 5px 10px;
  margin-right: 20px;
  /* Espaciado interior del botón */
  cursor: pointer;
  /* Cambiar cursor al pasar por encima */
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url(../img/wallpaper.webp) center/cover;
  background-repeat: no-repeat;
}

/* Estilos para el slider */
.slider {
  display: flex;
  overflow: hidden;
  width: 80%; /* Ancho del slider, ajusta según tus necesidades */
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5); /* Fondo transparente */
  transition: transform 0.5s; /* Duración de la transición */
}

/* Estilos para cada slide */
.slide {
  flex: 0 0 100%; /* Ancho de cada slide */
  padding: 20px;
  text-align: center;
  transition: transform 0.5s; /* Duración de la transición */
}

/* Estilos para el contenido dentro de cada slide */
.slide-content {
  background: rgba(0, 0, 0, 0.6); /* Fondo del contenido, ajusta la opacidad según tus necesidades */
  color: #fff; /* Color del texto */
  padding: 20px;
  border-radius: 15px;
}

/* Flechas de navegación del slider (puedes personalizarlas) */
.prev-slide, .next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.prev-slide {
  left: 10px;
}

.next-slide {
  right: 10px;
}

section h2 {
  color: #333;
}

/* .logofooter {
  display:flex;
  justify-content: center;
}

.logofooter img{
  height: 120px;
  width:auto;
}  */

/* SECCION QUE ES EL PADEL E HISTORIA (CARLOS) */

/* imagen de fondo para enlace de definicion */

.seccionDefinicion{
  margin-top:50px;
  margin-right:auto;
  margin-left:auto;
  display: flex;
  justify-content: center;
  max-width:1100px;
  width: 100%;
}

.card{
  width:100%;
  margin:20px;
  border-radius: 6px;
  overflow: hidden;
  background:white;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor:default;
  /* transition: all 400ms ease; efecto suave 400 milisegundos */
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  transform: translateY(-1%)
}

/* tamaño de imagen de card */

.fondoCardDefinicion{
  width:100%;
  height:300px;
  background-image: url('../img/que-es-el-padel-fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -30px;

}
.fondoCardHistoria{
  width:100%;
  height:300px;
  background-image: url('../img/Enrique-Corcuera.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -70px;

}


.card img {
    width: 100%; /* Ancho deseado */
    height: auto;
}

.card .contenido{
  padding: 15px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}

.card .contenido h3{

  font-size: 30px;
  font-weight: 400px;
  margin-bottom: 15px;
}

.card .contenido a{
  text-decoration: none;
  display: inline-block;
  margin-top:10px;
  padding:10px;
  color:#2fb4cc;
  border:4px;
  border: 1px solid #2fb4cc;
}

.card .contenido a:hover{
  background-color: #2fb4cc;
  color:white;
}




/* SECCION REGLAS DEL PADEL(LUIS) INICIO*/


.reglasPadelSuperior {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:; color de fondo del contenedor */
  background-size: cover;
  background-position: top left;
  padding: 80px 0 80px 0;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.reglasIcono1 {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: girar 2s infinite linear;
}

@keyframes rebotar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.reglasIcono2 {
  margin: 0 10px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  animation: rebotar 01s infinite linear;
}

.reglasPadelSuperior h2 {
  font-size: 2.5rem;
  /* Tamaño del texto */
  color: black;
  /* Color del texto */
  text-align: center;
  /* Alineación del texto */
  text-transform: uppercase;
  /* Convertir el texto a mayúsculas */
  margin-bottom: 20px;
  /* Espacio entre el título y el contenido siguiente */
  font-family: var(--fuentePrincipal);
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(left, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(32, 124, 229, 1)));
  background: -webkit-linear-gradient(left, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  background: -o-linear-gradient(left, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  background: -ms-linear-gradient(left, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  background: linear-gradient(to right, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5', GradientType=1);
  padding: 50px;
  /* Espaciado para separar el contenido del borde del contenedor */
  text-align: center;
  /* Centrar el texto */
  text-align: center;
  /* Centrar el texto */
  border-radius: 20px 20px;
}


/*SECCION CARLOS: DEFINICION e HISTORIA */

/* estilos para seccion definicion */



/* SECCION REGLAS DEL PADEL(LUIS) FINAL*/


/* SECCION NOTICIA(LUIS) INICIO*/
/* SECCION NOTICIAS(LUIS) FINAL*/

/* SECCION SAMU INICIO */
.calendario {
  display: contents;
}

/* SECCION SAMU FINAL */


/* SECCIÓN CARLO RESUMEN - INICIO */
.consejos a {
  text-decoration: none;
  color: #C0C0C0;
}

.consejos a:hover {
  color: white;
}

/* SECCIÓN CARLO RESUMEN - FINAL */

/* Sección footer */

footer {
  opacity: 90%;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  background: rgba(24, 124, 201, 1);
  background: -moz-linear-gradient(left, rgb(235, 246, 254) 0%, rgb(168, 198, 226) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 124, 201, 1)), color-stop(100%, rgba(20, 97, 169, 1)));
  background: -webkit-linear-gradient(left, rgba(24, 124, 201, 1) 0%, rgba(20, 97, 169, 1) 100%);
  background: -o-linear-gradient(left, rgb(152, 157, 161) 0%, rgb(81, 111, 138) 100%);
  background: -ms-linear-gradient(left, rgb(139, 149, 156) 0%, rgb(96, 119, 140) 100%);
  background: linear-gradient(to right, rgb(118, 138, 154) 0%, rgb(78, 97, 114) 100%);
}

footer>img{
  height:100px;
}

.logoFooter{
  display: flex;
  justify-content: center;
}

.logoFooter img{
  height: 150px;
}

footer a{
  text-decoration: none;
  margin-bottom: 20px;
  color:var(--colorSecundario);
  font-weight: 500;
}

footer a:hover{
  color:#1FD94A;
}

.redes{
  display: flex;
  justify-content: center;
}

.redes a {
  margin: 0 10px;
  padding:20px;
}

.redes a img {
  width: 30px;
  height: 30px;
  stroke: #1FD94A;
}

.redes a img:hover{
  fill: #FF0000;

}

svg{
  fill:#1FD94A;
  width: 30px;
  height: 30px;

}


.copyright {
  margin-top: 20px;
}

.copyright img {
  width: 100px;
  /* height: 100px; */
}

.enlacesFooter ul{
  justify-content: center;
  display: flex;
  text-decoration: none;
  list-style: none;
}

.enlacesFooter li{
  padding:10px;
}



/* SECCIÓN CARLO - FINAL */